name: CI

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  Run-CI-Checks:
    name: Run CI check
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install npm packages
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Format
        run: npm run format

      - name: Type Check
        run: npm run type-check

  Run-Vendor-Checks:
    name: Vendor
    needs: [Run-CI-Checks]
    permissions:
      id-token: write
      contents: read
    secrets: inherit
    uses: ./.github/workflows/vendor.yml

  Run-Implementor-Checks:
    name: Implementor
    needs: [Run-CI-Checks]
    permissions:
      id-token: write
      contents: read
    secrets: inherit
    uses: ./.github/workflows/implementor.yml

  deploy-vendor-feature-branch-to-aws:
    name: Feature Branch Deploy
    needs: [Run-CI-Checks, Run-Vendor-Checks, Run-Implementor-Checks]
    permissions:
      id-token: write
      contents: read
    secrets: inherit
    uses: ./.github/workflows/deploy-vendor-feature-branch-to-aws.yml

  deploy-vendor-testing-image-to-aws:
    name: Main Branch
    needs: [Run-CI-Checks, Run-Vendor-Checks, Run-Implementor-Checks]
    permissions:
      id-token: write
      contents: read
    secrets: inherit
    uses: ./.github/workflows/upload-vendor-testing-image-to-ecr.yaml

  deploy-vendor-main-branch-to-aws:
    name: Main Branch
    needs: [deploy-vendor-testing-image-to-aws]
    permissions:
      id-token: write
      contents: read
    secrets: inherit
    uses: ./.github/workflows/deploy-vendor-main-branch-to-aws.yml
